.eye-button {
    color: white;
    background-color: #292929;
    border-radius: 5px;
    border: 'none';
    height: 40px;
    border: none;
    cursor: pointer;
}

.eye-button__block {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    width: calc(232px + 50px);
}

.eye-button__img {
    max-height: 15px;
}

